@import "_theme";

.posts {
  padding-top: 0;
}

.post {
  border-bottom: 1px solid @color-line;
  padding: @spacer + 0.5rem @spacer;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }
  
  img {
    max-width: 100%;
  }
}

.post-head {
  margin-bottom: 1rem;
}

.post-title {
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 2.2rem;

  @media (max-width: 736px) {
    font-size: 1.2rem;
  }
}

.post-date {
  font-size: 0.8rem;
  margin-left: 0.1rem;
  color: @color-muted;
}

.post-content {
  text-align: justify;
  
  p {
    margin-bottom: 1rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  blockquote {
    padding: 5px 30px 5px 25px;
    margin: 15px 0;
    border-left: 5px solid lighten(@color-muted, 30%);
    
    p {
      margin-bottom: 0;
      color: @color-muted;
    }
  }
}

.post-leader-image {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.post-read-more {
  font-size: 0.9rem;
  
  .fa {
    vertical-align: middle;
  }
}